{% extends 'header.html' %}
{% block content %}
<html>
<head>
<style>
 table{
                font-family: arial,sans-serif;
                border-collapse: collapse;
                width: 40%;
            }
			td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 30px;
            }
            body{
                background-color: grey;
            }
</style>
</head>
<body>
    <center><table>
        <tr>
            <th>ID</th>
            <th>User Id</th>
            <th>Contest Code</th>
            <th>Problem Code</th>
            <th>Result</th>
            <th>Solution</th>
        </tr>
        {% for sub_dt in tot_sub %}
				<tr>
					<td>{{sub_dt.sub_num}}</td>
					<td>{{sub_dt.user_id}}</td>
					<td>{{sub_dt.challnge_name}}</td>
					<td>{{sub_dt.problem_code}}</td>
					<td>{{sub_dt.sub_status}}</td>
					<td><a href ="\static\user_output\{{sub_dt.sub_num}}.txt">View</a></td>
				</tr>
			{% endfor %}
    </table>
</center>
</body>
</html>
{%endblock%}